@import '~office-ui-fabric-react/dist/sass/References.scss';

.frmLayout {
  flex: 1;
}

.numEntry{
  width: 100px;
}

.twoRow{
  width: 50%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.richText {
  border: 1px solid #605E5C;
}

.fiveRow {
  width: 20%;
}

.boldTitle {
  font-weight: bold;
  font-size: large;
}
.boldFinancial {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.buttontwoRow{
  width: 50%;
  bottom: 0%;
}
.iconGreen {
  width: 50%;
  color: rgb(19, 175, 19)
}

.fourRow{
  width: 25%;
}

.colorGreen {
  background-color: #42a53b;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
}

.colorRed {
   background-color: rgb(185, 45, 45);
   color: #ffffff;
   border-radius: 10px;
   text-align: center;
}

.noColour {
   border-radius: 10px;
   border: 1px solid rgb(100,100,100);
   text-align: center;
   background-color: rgb(240,240,240);
}

.fourRowReminders{
  width: 25%;
  justify-items: right;
  justify-content: right;
  justify-self: right;
}

.fourRowCentre {
  justify-content: center;
  align-items: center;
  width: 25%;
}


.threeRow {
  width: 33%;
}

.red {
  background-color: red;
  color: white;
}

.removeRate {
  width: 100px
}

.rateOption {
  width: 30%;
}
.rateChild {
  width: 15%;
}
.weeklyFee {
  width: 25%;
}

.pivotControl {
  margin-top: -4px;
  div[role="tablist"] {
      border: 1px solid #7f7f7f;
      border-radius: 12px;
      padding: 1px;
  }
  button {
    padding: 2px 8px 3px;
    height: 25px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    background-clip: padding-box;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid transparent!important;
    font-size: 13px;
    margin-right: 0px;
    &:hover {
        background-color: lightgrey;
        border-color: lightgrey;
    }
    &[aria-selected="true"] {
      background-color: #0078d4;
      border-color: #0078d4;
      color: #fff;
      fill: #fff;
    }
  }
}
.orange {
  background-color: orange;
  color: white;
}
.green {
  background-color: green;
  color: white;
}